:root {
  --armygreen: #2c3531;
  --teal: #116466;
  --peach-orange: #d9b0bc;
  --apricot: #ffcb9a;
  --lightblue: #d1e8e2;
}

html {
  font-size: 62.5%; /* Set base root font at 10px */
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 1.7rem; /* Global font size is set to 17px */
  line-height: 1.5;
  background-color: var(--armygreen);
  color: var(--lightblue);
}

h1 {
  font-family: Oswald, sans-serif;
  font-size: 6rem;
  letter-spacing: 10px;
  padding-left: 3%;
}

h2 {
  font-size: 3.5rem;
  color: var(--apricot);
}

h3 {
  color: var(--peach-orange);
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 1.9rem;
}

a {
  text-decoration: none;
  color: var(--lightblue);
}

a:hover {
  color: var(--peach-orange);
}

.header-nav {
  display: flex;
  align-items: center;
  background-color: var(--teal);
  position: relative;
}

.header-nav nav {
  flex-grow: 1;
  padding-right: 3%;
}

.header-nav h1 {
  flex-grow: 2;
}

.navlinks {
  font-size: 2.1rem;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.header-img {
  position: relative;
  width: 100%;
}

.header-img img {
  width: 100%;
}

.tagline {
  position: absolute;
  right: 2.5%;
  bottom: 2%;
  font-size: 2.7rem;
  font-weight: 100;
  color: var(--apricot);
  background-color: var(--armygreen);
  padding: 0.5% 2%;
}

.content-wrapper {
  width: 90%;
  margin: 0 auto;
}
