:root {
  --armygreen: #2c3531;
  --teal: #116466;
  --peach-orange: #d9b0bc;
  --apricot: #ffcb9a;
  --lightblue: #d1e8e2;
}

html {
  font-size: 62.5%; /* Set base root font at 10px */
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 1.7rem; /* Global font size is set to 17px */
  line-height: 1.5;
  background-color: var(--armygreen);
  color: var(--lightblue);
}

h1 {
  font-family: Oswald, sans-serif;
  font-size: 6rem;
  letter-spacing: 10px;
  padding-left: 3%;
}

h2 {
  font-size: 4rem;
  color: var(--apricot);
}

h3 {
  color: var(--peach-orange);
  font-size: 2.5rem;
  padding: 0.5% 0;
}

h4 {
  font-size: 2rem;
}

p {
  margin-bottom: 1.5%;
}

a {
  text-decoration: none;
  color: var(--lightblue);
}

a:hover {
  color: var(--peach-orange);
}

.header-nav {
  display: flex;
  align-items: center;
  background-color: var(--teal);
  position: relative;
}

.header-nav nav {
  flex-grow: 1;
  padding-right: 3%;
}

.header-nav h1 {
  flex-grow: 2;
}

.navlinks {
  font-size: 2.1rem;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.header-img {
  position: relative;
  width: 100%;
}

.header-img img {
  width: 100%;
}

.tagline {
  position: absolute;
  right: 4%;
  bottom: 2%;
  font-size: 2.7rem;
  color: var(--apricot);
}

main {
  width: 90%;
  margin: 0 auto;
}

.about,
.work,
.resume,
.contact {
  display: flex;
  padding: 3%;
}

.about-h2,
.work-h2,
.resume-h2,
.contact-h2 {
  border-right: 2px solid var(--lightblue);
  text-align: right;
  padding-right: 2%;
  flex-basis: 25%;
}

.about-content,
.work-projects,
.resume-work-edu,
.contact-info {
  padding-left: 4%;
  flex-basis: 75%;
}

footer {
  text-align: center;
  padding: 2% 0;
}
